@model StoreManagementSystem.Models.Entity.Tbl_Product

@{
    ViewBag.Title = "updateProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("UpdateProducts", "Product", FormMethod.Post))
{
    <h2>Update Category</h2>
    @Html.HiddenFor(x => x.ID, new { @class = "form-control" })
    <br />
    <h3>New Category Name</h3>
    <br />
    <h4>Name</h4>
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    <h4>Brand</h4>
    @Html.TextBoxFor(x => x.Brand, new { @class = "form-control" })
    <br />
    <h4>Purchase Price</h4>
    @Html.TextBoxFor(x => x.PurchasePrice, new { @class = "form-control" })
    <br />
    <h4>Sell Price</h4>
    @Html.TextBoxFor(x => x.SellPrice, new { @class = "form-control" })
    <br />
    <h4>Stock</h4>
    @Html.TextBoxFor(x => x.Stock, new { @class = "form-control" })
    <br />
    <h4>Category </h4>
    @Html.DropDownListFor(x => x.TbL_Category.ID, (List<SelectListItem>)ViewBag.catlist, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Save</button>
}
